.card-main {
    box-shadow: 0px 8px 16px 8px rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    padding: 10px;
    margin: 20px;
    height: 100%;
}
.btn-upload:hover
{
    cursor: pointer;
}
.ad-image-list {
    list-style: none;
    display: flex;
    padding-left: 0px;
}

.ad-image-div {
    position: relative;
    overflow: hidden;
}
.ad-image-div:hover{
    cursor: pointer;
}

.ad-image-div img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 100%;
    width: auto;
}

#description_text {
    height: 100%;
    min-height: 150px;
}

.ad-table {
    border: 2px solid lightgray;
    width: 100%;
    padding: 5px;
    height: 100%;
}

.head-1 {
    margin-left: 10px;
    display: block;
    border-bottom: 2px solid lightgray;
}

.input-control {
    width: 50%;
    margin-left: 20px;
    max-width: 350px;
}

.labels {
    margin-left: 20px;
    margin-top: 10px;
    font-size: large;

}

.box {
    border: 2px solid lightgray;
    width: 90px;
    margin-left: 20px;
    height: 90px;
}

.box:hover {
    box-shadow: 0px 2px 2px 2px lightgray;
}

.cancel-span {
    z-index: 15;
    float: right;
    content: url('../system_img/cancel.png');
    width: 15px;
    margin: 2px;
    background-color: white;
    border-radius: 3px;
}

.cancel-span:hover {
    cursor: pointer;

}

#post_btn {
    background-color: royalblue;
    color: white;
    border-radius: 3px;
    border: none;
    font-size: larger;
    margin: 20px;
    width: 100px;
    height: 50px;
}

#post_btn:hover {
    background-color: #004d99;
}

.cover-span {
    background-color: cyan;
    padding: 1px;
    position: absolute;
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}