.container-header{
    background-color: black;
    width: auto;
    padding: 0px;
}
.row-header{
    display: flex;
    width: auto;
    padding: 10px 10px 0px 10px;
    height: 50px;
}
#search_result{
    z-index: 15;
}
#search_result a{
    cursor: pointer;
}
#fav_btn,#acc_btn{
    cursor: pointer;
}
.my-header-search{
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
    /*width:100%;
    min-width:700px;*/
}
.col-md1{
    width:18%;
    height: 100%;
    padding-bottom: 1px;
}

#header_body{
    margin: 0px;
    background-color: #fff;
}
.logo{
  /* margin: 10px;*/
  padding: 0px 10px 0px 10px;
}

.account-info{
    display: inline-flex;
    padding: 0px 10px 0px 10px;
   /* padding: 10px; */
    float: right;   
}
.header-2{
    background-color:#f0f0f0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.2);
}
.header-2 ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    display: flex;
    
}
.header-2 ul li{
    margin-left:10px;
    margin-right:10px;
}
.header-2 ul li:hover{
    cursor: pointer;
}
.tab{
    color: white;
    text-decoration: none;
    display: block;
    color:black;
    border: none;
    padding: 15px 20px 15px 20px;
}
.col-md6{
    width: 100%;
}
/*.header-2 li:hover{
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    color: royalblue;
    text-decoration: underline;
    line-height: 1.2;
    border-bottom:2px solid royalblue;  
}
*/


/* .header-search {
padding: 15px 0px;
}
*/
.my-header-search form {
    position: relative;
}

 /*.acc-drop-content p:hover{
     color:red
 }*/
.my-header-search form .my-input-select {
    margin-right: -4px;
    border-radius: 40px 0px 0px 40px;
    height: 41px;
    padding:10px;
    width:18%;
    background-color: whitesmoke;
    text-align: center;
}



   

/*.user-info:hover .acc-drop-content {
    display: inline-block;
    cursor: pointer;
}
*/
/* .acc-drop-content{
    display:none;
    position: absolute;
    float: left;
    margin: auto;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}*/

.my-header-search form .my-header-input {
    /*width: 50%;*/
    width: 100%;
    margin-right: -4px;
    min-width: 400px;
    height:35px;
    overflow: hidden;
}
.col-md_1{
    margin-right:20px;
    margin-left:auto;
    float: right;
}
.my-header-search form .search-btn{
    height: 42px;
    width: 15%;
    background: #d10024;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 0 40px 40px 0;
}
.my-header-search form .search-btn:hover{
    background:#8a1111;
}
.account-info #fav_icon{
    padding-right: 15px ;
    padding-left: 10px ; 
}
.sell-btn input{
    width: 80px;
    height: 40px;
    margin: 0px 10px 0px 0px;
    background: url("../system_img/camera-icon2.png") no-repeat center left;
    background-size: 25px 25px;
    background-color: royalblue;
    background-position-x: 3px; 
    border: none;
    text-align: right;
    color: white;
    border-radius: 3px; 
}
.sell-btn input:hover{
    background-color:#004d99; 
}
/*Carousel style */
.active{
    max-height:300px;
}
body{
    width:100%;
}
.container{
    margin-top:20px;
    
}